DATABASE_URL="postgresql://macbook@localhost:5432/coa_manager_dev?schema=public"
SHOPIFY_APP_URL=https://test.com
SHOPIFY_API_KEY=<client_id>
SHOPIFY_API_SECRET=<secret>
SCOPES=read_orders,read_products,write_app_proxy,write_files,write_metaobject_definitions,write_metaobjects
NODE_ENV=production