SHOPIFY_API_KEY=api_key
SHOPIFY_API_SECRET=shpss_secret
SCOPES=read_orders,read_products,write_app_proxy,write_files,write_metaobject_definitions,write_metaobjects
DATABASE_URL="postgresql://macbook@localhost:5432/coa_manager_dev?schema=public"
